{% extends "base.html" %} {% block title %}APP{% endblock %} {% block content
  %}
  <form class="container" method="post">
    <h2 align="center">City Name</h2>
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          placeholder="City Name"
          name="getMesto"
        />
      </div>
      <div class="col-md-3" style="align: right;">
        <button type="submit" value="search_place" class="btn btn-primary">
          Search Now
        </button>
      </div>
    </div>    
  </form>
  {% endblock %}